In [66]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
825,tt1674784,36000000,9612469,Trespass,Nicolas Cage|Nicole Kidman|Liana Liberato|Cam ...,Joel Schumacher,When terror is at your doorstep. You can run. ...,Kyle (Nicholas Cage) and Sarah Miller (Nicole ...,91,Crime|Drama|Thriller,Nu Image Films|Winkler Films|Millennium Films,10/14/2011,5.3,2011
306,tt0899106,18000000,36133014,Love Happens,Aaron Eckhart|Jennifer Aniston|Judy Greer|Mart...,Brandon Camp,Sometimes when you least expect it...,Dr. Burke Ryan is a successful self-help autho...,109,Drama|Romance,Universal Pictures|Stuber Productions|Camp / T...,9/18/2009,5.5,2009
537,tt0240462,70000000,176104344,Dr. Dolittle 2,Eddie Murphy|Kristen Wilson|Raven-SymonÃ©|Kyla...,Steve Carr,The doctor is in again.,"Dr. John Dolittle the beloved doctor is back, ...",87,Comedy|Family|Romance|Fantasy,Twentieth Century Fox Film Corporation,6/22/2001,4.9,2001
1153,tt0313542,60000000,80154140,Runaway Jury,John Cusack|Gene Hackman|Dustin Hoffman|Rachel...,Gary Fleder,Trials are too important to be decided by juries.,A juror on the inside and a woman on the outsi...,127,Drama|Thriller,Regency Enterprises|Epsilon Motion Pictures|Ne...,10/9/2003,6.8,2003
789,tt1601913,25000000,77278331,The Grey,Liam Neeson|Dermot Mulroney|Frank Grillo|Dalla...,Joe Carnahan,Live or Die on This Day,An oil drilling team struggles to survive afte...,117,Action|Drama|Thriller,Scott Free Productions|1984 Private Defense Co...,12/11/2011,6.3,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data.release_date = pd.to_datetime(data['release_date'])
#переформатируем дату

data['profit'] = data.revenue - data.budget
#добавляем столбец с информацией о прибыли

data2 = data.copy()
#Создаем копию Дф

def df_explode(df, col):
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    return df
#функция для explode

def split(string):
    result = string.str.split('|')
    return result
##функция для split

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'  #+

In [6]:
data2[data2.budget == data2.budget.max()]
#выводим строку с макс. бюджетом

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = 'Gods and Generals (tt0279111)'  #+

In [8]:
data2[data2.runtime == data2.runtime.max()]
#выводим строку с макс. длительностью фильма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  #+

In [10]:
data2[data2.runtime == data2.runtime.min()]
#выводим строку с мин. длительностью фильма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'  #+

In [12]:
round(data2.runtime.mean())
#выводим строку со сред. длительностью фильма

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107'  #+

In [14]:
round(data2.runtime.median())
#выводим округленную строку со сред. длительностью фильма

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = 'Avatar (tt0499549)'  #+

In [16]:
data2[data2.profit == data.profit.max()]
#выводим строку с макс. прибылью фильма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger (tt1210819)'  #+

In [18]:
data2[data2.profit == data2.profit.min()]
#выводим строку с мин. прибылью фильма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'  #+

In [20]:
len(data2[data2.revenue > data2.budget])
#выводим количество фильмов у которых объем сборов оказался выше бюджета

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight (tt0468569)'  #+

In [22]:
data2[data2.release_year == 2008].sort_values(['revenue'],             
                                            ascending=False).head(1)
#выводим все фильмы за 2008 год, отсортированные по сборам в порядке убывания

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger (tt1210819)'  #+

In [24]:
data2[data2.profit == data2.profit.min()].query('2011<release_year<2015')
#выводим самый убыточный фильм за период с 2012 по 2014 г.
#кстати, он вообще самый убыточный

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'  #+

In [27]:
Counter(data2.genres.str.split('|').sum()).most_common(1)
#разделяем столбец с жанрами, и считаем их,
#выводим самый  часто встречаемый

[('Drama', 782)]

ВАРИАНТ 2

In [28]:
data2.genres.str.split('|').explode().value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama'  #+

In [30]:
genres_profit = data[data.profit > 0].copy()
#Создаем Дф с положительной прибылью

genres_profit = df_explode(genres_profit, 'genres')
#разбиваем информацию в столбце genres на отдельные строки

genres_profit.groupby('genres')['profit'].agg(['count']).sort_values(
    'count', ascending=False).head(1)
#группируем прибыль по жанрам

        count
genres
Drama     560

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = 'Peter Jackson'  #+

In [32]:
director_revenue = data.copy()  
#Создаем копию Дф

director_revenue = df_explode(director_revenue, 'director')  
#разбиваем информацию в столбце director на отдельные строки

director_revenue.groupby('director')['revenue'].agg(['sum']).sort_values(  
    'sum', ascending=False).head(1)
#группируем суммарные кассовые сборы по режисерам

                      sum
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez'  #+

In [36]:
data2[data2.genres.str.contains('Action')].director.str.split('|').explode(
    'director').value_counts(ascending=False)
#делаем запрос к Дф о строках содержащих Action в столбце genres,
#и считаем количество значений соотнесенных с разбитым столбцом director

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Brian Levant          1
Michael Spierig       1
Jorma Taccone         1
Geoffrey Sax          1
Ericson Core          1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = 'Chris Hemsworth'  #+

In [38]:
data_2012 = data[data.release_year == 2012].copy()
#Создаем Дф с информацией только за 2012 год

data_2012 = df_explode(data_2012, 'cast')
#разбиваем информацию в столбце cast на отдельные строки

data_2012.groupby('cast')['revenue'].sum().sort_values(
    ascending=False).head(1)
#группируем актеров и сборы, выводим у кого из актеров сумма сборов выше

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = 'Matt Damon'  #+

In [40]:
actor_revenue = data[data.budget > data.budget.mean()].copy()
#Создаем Дф, где бюджет выше среднего

actor_revenue = df_explode(actor_revenue, 'cast')
#разбиваем информацию в столбце cast на отдельные строки

actor_revenue.groupby('cast')['imdb_id'].count().sort_values(
    ascending=False).head(1)
#группируем актеров и фильмы, выводим у кого из актеров больше фильмов

cast
Matt Damon    18
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = 'Action'  #+

In [42]:
data_cage = data.copy()
#Создаем копию Дф

data_cage = df_explode(data_cage, 'cast')
data_cage = df_explode(data_cage, 'genres')
#разбиваем информацию в столбцах cast и genres на отдельные строки

data_cage = data_cage[data_cage.cast == 'Nicolas Cage']
#фильтруем Дф так чтобы  осталась информация только по Николасу Кейджу

data_cage.genres.value_counts(ascending=False)
#группируем Дф по жанрам

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'  #+

In [44]:
data_paramount = data.copy()                                   
#Создаем копию Дф

data_paramount = df_explode(data_paramount, 'production_companies')
#разбиваем информацию о киностудиях на отдельные строки

data_paramount = data_paramount[
    data_paramount.production_companies == 'Paramount Pictures']
#фильтруем чтобы  осталась только Paramount Pictures

data_paramount[data_paramount.profit == data_paramount.profit.min()]
#смотрим какой фильм имеет самую маленькую прибыль

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '2015'  #+

In [46]:
data2.groupby('release_year')['revenue'].sum().sort_values(
    ascending=False).head(1)
#Группируем запрос по датам релиза и кассовым сборам,
#сортируем по возрастанию

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '2014'  #+

In [48]:
data_WB = data.copy()
#Делаем копию Дф

data_WB = df_explode(data_WB, 'production_companies')
#разбиваем информацию о киностудиях на отдельные строки

data_WB = data_WB[data_WB.production_companies.str.contains('Warner Bros')]
#создаем Дф, где информация только о компаниях имеющих в названии Warner Bros

data_WB.groupby('release_year')['profit'].sum().sort_values(    
    ascending=False).head(1)
#группируем  года выхода и суммарную прибыль по возрастанию

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = 'Сентябрь'  #+

In [50]:
data.release_date.dt.month.value_counts()
#Выделяем из столбца с датой только месяц,
#считаем как часто встречаетса в Дф

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '450'  #+

In [52]:
count = 0  #счетчик

def summer_movies(month):
    global count
    if month == 6: count +=1
    elif month == 7: count +=1
    elif month == 8: count +=1
    return count
#Создаем функцию считающую только летние месяцы

data.release_date.dt.month.apply(summer_movies)
#выделяем из столбца с датой только месяц

print(count)
#выводим счетчик

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
answers['23'] = 'Peter Jackson'

In [54]:
data_director = data.copy()
#Делаем копию Дф

data_director = df_explode(data_director, 'director')
#разбиваем информацию о режиссерах на отдельные строки

data_director = data_director[data_director.release_date.dt.month.isin(
    ['1', '2', '12'])]
#виделяем из Дф информацию только по зимним месяцам

data_director.director.value_counts(ascending=False).head(1)  
#выводим кто из режиссеров чаще встречаться

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = 'Four By Two Productions'

In [57]:
data_str = data.copy()  #Делаем копию Дф


data_str['title_length'] = data_str['original_title'].str.len()
#создадим столбец с длиной названия

companies = data_str['production_companies'].str.split('|').explode().unique() 
# получим список уникальных названий компаний

sum_gen = pd.Series(dtype='float64', index=companies)
# создадим серию для хранения средних значений


for comp in companies:
    sum_gen[comp] = data_str['title_length'][data_str['production_companies'].
                                             map(lambda x: True if comp in x else False)].mean()
# по всему датафрейму вычислим среднее значение для всех названий фильмов,созданных компанией

    
sum_gen.sort_values(ascending=False).head()
#выведем 5 компаний с самыми большими значениями

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = 'Midnight Picture Show'

In [59]:
data_str2 = data.copy()  #Делаем копию Дф


data_str2['overview_length'] = data_str2['overview'].str.split(' ').str.len()
#создадим столбец с длиной описаний

data_str2 = df_explode(data_str2, 'production_companies')
#разбиваем информацию о киностудиях на отдельные строки

data_str2.groupby('production_companies')['overview_length'].mean().idxmax() 
#группируем компании со средней длинной описания,
#выводим компанию с макc. значением

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [61]:
one_procent = np.quantile(data.vote_average, 0.99)
#записываем в переменную 100-ый квантиль средних оценок

data[data.vote_average >= one_procent].sort_values(by='vote_average'
                                              , ascending=False)['original_title']
#выводим все фильмы с оценкой выше или равной квантилю

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [67]:
data_cast = data.copy()
pairs = []
#создаем копию Дф и пустой список, куда запишем пары актеров

data_cast['cast'] = split(data_cast['cast'])
#разобьем информацию в столбце cast

for i in range(0, len(data_cast)):
    for item in itertools.combinations(data_cast['cast'][i], 2):
        pairs.append(item)
#создаем цикл длинной в Дф и  в этом цикле создаем еще один
#в котором перебираем все пары актеров, записываем их в список,
#указывая количество повторений        
        
Counter(pairs).most_common(1)
#выводим самые часто встречаемые

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [69]:
len(answers)

27